/*------------------------------ product ----------------------------------*/

.product {
  display              : grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap           : 50px;
  margin-bottom        : 80px;

  .xxl-block( {
      column-gap   : 30px;
      margin-bottom: 70px;
    }

  );

  .xl-block( {
      column-gap   : 20px;
      margin-bottom: 60px;
    }

  );

  .lg-block( {
      grid-template-columns: 100%;
    }

  );

  .sm-block( {
      margin-bottom: 50px;
    }

  );

  &__right {
    position: relative;
  }

  &__header {
    position      : relative;
    margin-bottom : 30px;
    padding-bottom: 20px;
    border-bottom : 1px solid #DDDDDD;

    .xl-block( {
        padding-bottom: 15px;
      }

    );
  }

  &__collection {
    margin     : 0 0 10px;
    font-weight: 400;
    font-size  : 18px;
    line-height: 1.16;
    color      : #919191;

    .lg-block( {
        font-size: 16px;
      }

    );

    .sm-block( {
        margin-bottom: 5px;
        font-size    : 12px;
      }

    );

    span {
      margin-left: 16px;
      color      : @red;
    }
  }

  &__name {
    margin       : 0 0 20px;
    padding-right: 80px;
    font-weight  : 300;
    font-size    : 38px;
    line-height  : 1.15;

    .xxl-block( {
        font-size: 32px;
      }

    );

    .xl-block( {
        margin-bottom: 15px;
        padding-right: 30px;
      }

    );

    .lg-block( {
        font-size : 28px;
      }

    );

    .sm-block( {
        font-size: 22px;
      }

    );
  }

  &__fav {
    position: absolute;
    right   : 0;
    top     : 0;
    width   : 32px;
    height  : 32px;

    .lg-block( {
        width : 28px;
        height: 28px;
      }

    );

    .sm-block( {
        width : 24px;
        height: 24px;
      }

    );

    svg {
      width : 100%;
      height: 100%;
      stroke: @black;
      fill  : #ddd;
      .transition();
    }

    &.active {

      svg {
        fill  : @red;
        stroke: @red;
      }
    }

    &:hover {

      svg {
        stroke: @red;
      }
    }
  }

  &__price {
    .flex-align-center();
    column-gap : 30px;
    margin     : 0 0 20px;
    font-weight: 300;
    font-size  : 55px;
    line-height: 1;

    .xxl-block( {
        font-size: 46px;
      }

    );

    .xl-block( {
        margin-bottom: 15px;
      }

    );

    .lg-block( {
        font-size: 38px;
      }

    );

    .sm-block( {
        font-size: 28px;
      }

    );

    &.red {
      color: @red;
    }

    span {
      font-size      : 24px;
      line-height    : 100%;
      color          : @black;
      text-decoration: line-through;

      .lg-block( {
          font-size: 22px;
        }

      );

      .sm-block( {
          font-size: 18px;
        }

      );
    }
  }

  &__btw {
    .flex-between();
    align-items: center;
    gap        : 10px;

    .sm-block( {
        row-gap: 5px;
      }

    );
  }

  &__time {
    .flex-align-center();
    column-gap: 10px;

    svg {
      width : 24px;
      height: 24px;
      fill  : #919191;

      .sm-block( {
          width : 20px;
          height: 20px;
        }

      );
    }

    span {
      font-weight: 400;
      font-size  : 18px;
      line-height: 1.16;
      color      : #919191;

      .lg-block( {
          font-size: 16px;
        }

      );

      .sm-block( {
          font-size: 12px;
        }

      );

      strong {
        display    : inline-block;
        font-weight: 400;
        color      : @black;
      }
    }
  }

  &__delivery {
    .flex-align-center();
    column-gap: 10px;

    svg {
      width : 24px;
      height: 24px;
      fill  : #919191;

      .sm-block( {
          width : 20px;
          height: 20px;
        }

      );
    }

    span {
      font-weight: 400;
      font-size  : 18px;
      line-height: 1.16;
      color      : @black;

      .lg-block( {
          font-size: 16px;
        }

      );

      .sm-block( {
          font-size: 12px;
        }

      );
    }
  }
}