doctype html
html(lang='ru')

  include sections/head

  body

    .wrap

      include sections/top-page

      main

        .container

          include sections/err404

          include sections/feedback

      include sections/footer

    include sections/bottom-page


