doctype html
html(lang='ru')

  include sections/head

  body

    .wrap

      include sections/top-page

      main

        .container

          include sections/breadcrumbs-company

          include sections/company

        include sections/subscribe

      include sections/footer

    include sections/bottom-page
