doctype html
html(lang='ru')

  include sections/head

  body

    .wrap

      include sections/top-page

      main

        .container

          include sections/breadcrumbs-contacts

        .page-head

          .page-head__bg
            picture

              source(srcset="img/webp/bg-contacts-sm.webp" media="(max-width:575px)" type="image/webp")
              source(srcset="img/bg-contacts-sm.jpg" media="(max-width:575px)")

              source(srcset="img/webp/bg-contacts-md.webp" media="(max-width:1080px)" type="image/webp")
              source(srcset="img/bg-contacts-md.jpg" media="(max-width:1080px)")

              source(srcset="img/webp/bg-contacts.webp" type="image/webp")
              img(src="img/bg-contacts.jpg" alt="")

          .container

            p.page-title Контакты

        .container

          include sections/contacts

          include sections/map

      include sections/footer

    include sections/modal-contacts

    include sections/bottom-page
