doctype html
html(lang='ru')

  include sections/head

  body

    .wrap

      include sections/top-page

      main

        .container

          include sections/breadcrumbs-guarantees

          p.page-title Гарантии

          include sections/note

          include sections/users-guarantees

          include sections/feedback

      include sections/footer

    include sections/bottom-page
