doctype html
html(lang='ru')

  head

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Fatto

    style.

      .wrap-index {
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px 15px;
      }

      img {
        width: 100%;
        max-width: 800px;
        height: auto;
      }

      h1 {
        margin-bottom: 40px;
        font-family: sans-serif;
        font-size: 32px;
      }

      p {
        margin: 0 0 50px;
        font-family: sans-serif;
        font-size: 18px;
      }

      ol {
        font-family: sans-serif;
      }

      ol li {
        font-size: 20px;
        margin-bottom: 20px;
      }

      ol li a {
        color: #000;
        text-decoration: none;
        transition: color .3s;
      }

      ol li a:hover {
        color: red;
      }

      @media (max-width: 576px) {
        h1 {
          font-size: 24px;
        }
      }

  body

    .wrap-index

      h1 Адаптивная верстка корпоративного сайта "Фатто" - 2

      ol
        li: a(href="main.html" target="_blank") Главная
        li: a(href="catalog.html" target="_blank") Каталог
        li: a(href="product.html" target="_blank") Товар
        li: a(href="basket.html" target="_blank") Корзина
        li: a(href="checkout.html" target="_blank") Оформление заказа
        li: a(href="order-success.html" target="_blank") Статус заказа - успешно
        li: a(href="order-notsuccess.html" target="_blank") Статус заказа - ошибка
        li: a(href="order-awaiting-payment.html" target="_blank") Статус заказа - ожидает оплаты
        li: a(href="my-data.html" target="_blank") Личный кабинет - Мои данные
        li: a(href="address.html" target="_blank") Личный кабинет - Адрес
        li: a(href="favorites.html" target="_blank") Личный кабинет - Избранное
        li: a(href="my-orders.html" target="_blank") Личный кабинет - Мои заказы
        li: a(href="designers.html" target="_blank") Личный кабинет - Дизайнерам
        li: a(href="designers-success.html" target="_blank") Личный кабинет - Дизайнерам (заявка принята)
        li: a(href="designers-discount.html" target="_blank") Личный кабинет - Дизайнерам (скидка)
        li: a(href="designers-notaccepted.html" target="_blank") Личный кабинет - Дизайнерам (отказ)
        li: a(href="delivery-payment.html" target="_blank") Доставка и оплата
        li: a(href="guarantees.html" target="_blank") Гарантии
        li: a(href="operating-rule.html" target="_blank") Правила эксплуатации
        li: a(href="faq.html" target="_blank") Вопрос-ответ
        li: a(href="contacts.html" target="_blank") Контакты
        li: a(href="designer.html" target="_blank") Дизайнерам
        li: a(href="company.html" target="_blank") О компании
        li: a(href="text.html" target="_blank") Текстовая страница
        li: a(href="404.html" target="_blank") 404
        li: a(href="search-category.html" target="_blank") Результаты поиска - категории
        li: a(href="search-products.html" target="_blank") Результаты поиска - Товары
        li: a(href="search-articles.html" target="_blank") Результаты поиска - Статьи
        li: a(href="modal-registration.html" target="_blank") Модальное окно регистрации
