doctype html
html(lang='ru')

  include sections/head

  body

    .wrap

      include sections/top-page

      include sections/cookies

      main

        include sections/first

        include sections/collections

        include sections/goods-products

        include sections/goods-new

        include sections/banner

        include sections/cattabs

        include sections/steps

        include sections/looked

        include sections/subscribe

      include sections/footer

    include sections/bottom-page


