doctype html
html(lang='ru')

  include sections/head

  body

    .wrap

      include sections/top-page

      main

        .container

          .acc-wrap

            include sections/breadcrumbs-private

            include sections/account-data

      include sections/footer

    include sections/modal-data

    include sections/modal-account

    include sections/bottom-page
