doctype html
html(lang='ru')

  include sections/head

  body

    .wrap

      include sections/top-page

      main

        .container

          include sections/checkout-notsuccess

      include sections/footer

    include sections/modal-checkout

    include sections/bottom-page