doctype html
html(lang='ru')

  include sections/head

  body

    .wrap

      include sections/top-page

      include sections/tocart-popup

      main

        .container

          include sections/breadcrumbs-product

          include sections/product

        include sections/goods-buy

        include sections/goods-similar

        include sections/looked

      include sections/footer

    include sections/modal-product

    include sections/bottom-page
