// about-desc

.about-desc

  .about-desc__area

    .about-desc__text
      p Создан для каждого индивидуального стиля
      p От модерна середины века до современности наш язык дизайна намеренно универсален; мы проектируем так, чтобы вы могли комфортно устроиться в течение длительного времени.

  .about-desc__area

    .about-desc__text
      p Материалы, которые простоят очень долго
      p Каждый материал, который мы используем, соответствуют нашим самым высоким стандартам качества изготовления, реальной устойчивости и долговечности, проверенной временем.

  .about-desc__area

    .about-desc__text
      p По-настоящему комфортная мебель
      p Каждый предмет Фатто сочетает в себе безукоризненное качество, функциональность и актуальный дизайн.

  .about-desc__area

    .about-desc__img
      picture
        source(srcset="img/webp/img16.webp" type="image/webp")
        img(src="img/img16.jpg" alt="")

  .about-desc__area

    .about-desc__img
      picture
        source(srcset="img/webp/img17.webp" type="image/webp")
        img(src="img/img17.jpg" alt="")

  .about-desc__area

    .about-desc__img
      picture
        source(srcset="img/webp/img18.webp" type="image/webp")
        img(src="img/img-company1.jpg" alt="")

  .about-desc__area

    .about-desc__img
      picture
        source(srcset="img/webp/img18.webp" type="image/webp")
        img(src="img/img-company1.jpg" alt="")

// end about-desc