// about

.about

  .about__item

    .about__img
      picture
        source(srcset="img/webp/img-about1.webp" type="image/webp")
        img(src="img/img-about1.jpg" alt="")

    .about__content

      p.about__title Наша история

      p.about__text Уже на протяжении многих лет, начиная с 2009 года, мы активно трудимся над созданием мебели и предметов интерьерной отделки по индивидуальным заказам. С каждым годом багаж воплощенных в жизнь проектов прибавляет в масштабах, географических направлениях и интерьерных стилях.


  .about__item

    .about__img
      picture
        source(srcset="img/webp/img-about2.webp" type="image/webp")
        img(src="img/img-about2.jpg" alt="")

    .about__content

      p.about__title Как мы работаем

      p.about__text Для работы над коллекциями мы приглашаем как именитых зарубежных дизайнеров, так и молодых российских авторов. Стилевое разнообразие и большой выбор фактур и расцветок дарят простор для креатива.




// end about