// acc-nav

nav.acc-nav

  a.acc-nav__link(href="#") Мои данные

  a.acc-nav__link(href="#") Мой адрес

  a.acc-nav__link.active(href="#") Мои заказы
    span 50

  a.acc-nav__link(href="#") Избранное
    span 350

  a.acc-nav__link(href="#") Для дизайнеров

// end acc-nav
