// account

.account

  p.account__name Анна Петрова

  include acc-nav-orders

  include orders

  a.account__exit.js-modal-show(href="#js-modal-exit")
    svg: use(href="img/icons/sprite.svg#logout")
    span Выйти

// end account