// account

.account

  p.account__name Анна Петрова

  include acc-nav-designers

  a.account-link(href="#")
    svg: use(href="img/icons/sprite.svg#arrow-back")
    span Личный кабинет

  p.design-title Для дизайнеров

  .page-head

    .page-head__bg
      picture

        source(srcset="img/webp/bg-designer-sm.webp" media="(max-width:575px)" type="image/webp")
        source(srcset="img/bg-designer-sm.jpg" media="(max-width:575px)")

        source(srcset="img/webp/bg-designer-md.webp" media="(max-width:1080px)" type="image/webp")
        source(srcset="img/bg-designer-md.jpg" media="(max-width:1080px)")

        source(srcset="img/webp/bg-designer.webp" type="image/webp")
        img(src="img/bg-designer.jpg" alt="")

    .container

      p.page-title Дизайнерам

  include designer-account

  a.account__exit.js-modal-show(href="#js-modal-exit")
    svg: use(href="img/icons/sprite.svg#logout")
    span Выйти

// end account