// banner

.banner

  .banner__img
    picture
      source(srcset="img/webp/banner.webp" type="image/webp")
      img(src="img/banner.jpg" alt="")

  .banner__grid

    .banner__area

    .banner__area

      p.banner__name Мебель Фатто

      p.banner__slogan Создаем идеальный дом

    .banner__area

    .banner__area

    .banner__area

    .banner__area

// end banner