// basket

.basket

  .basket__list

    include card-basket

    include card-basket

    include card-basket

    include card-basket

    include card-basket

    include card-basket

    include card-basket

    a.basket__del.js-all-del(href="#")
      svg: use(href="img/icons/sprite.svg#trash")
      span Удалить все товары

  include basket-info

// end basket