// basket-popup

.basket-popup

  .basket-popup__info
    span Всего товаров
    span 7
    span На сумму
    span 800 000р

  a.basket-popup__link.js-anchor(href="#checkout")
    svg: use(href="img/icons/sprite.svg#chevron")
    span Оформить

// end basket-popup