// blockquote

blockquote.blockquote

  p.blockquote__text Наша мастерская занимается изготовлением мебели, дверей, лестниц, стеновых панелей. Если у вас есть дизайн-проект, фото или идея по обустройству жилья - мы с радостью воплотим ее в жизнь. Для этого у нас накоплен опыт  и знания по реализации различных проектов, создана производственная база и собран коллектив профессионалов".

  p.blockquote__author Антон Рыбак - <span>руководитель компании</span>

// end blockquote