// bottom

.bottom

  .container

    .bottom__wrap

      .bottom__left

        span &copy;FATTO2022

        a(href="#") Политика конфиденциальности

        a(href="#") Договор оферты


      .bottom__right

        p разработка сайта: <a href="#">OmniAgency</a>

// end bottom