// breadcrumbs

nav.breadcrumbs

  .breadcrumbs__item

    a.breadcrumbs__link(href="#") Главная

  .breadcrumbs__item

    a.breadcrumbs__link(href="#") Прикроватные тумбочки

  .breadcrumbs__item
    span Тумбочка в классическом стиле «Algerd»

// end breadcrumbs