// callcenter

.callcenter

  .callcenter__icon
    svg: use(href="img/icons/sprite.svg#phone")

  .callcenter__desc
    a(href="tel:+79645159041") +7 (964) 515-90-41
    p Call-центр Пн-Пт 9.00-18.00

// end callcenter