// card-basket

.card-basket

  .card-basket__left

    a.card-basket__img(href="#")
      img(src="img/img1.png" alt="")

    .card-basket__desc

      a.card-basket__name(href="#") Витрина Венеция стеклянная с выдвижными ящиками

      .card-basket__info
        span Цвет
        span Black dream
        span Артикул
        span A68599944
        span Срок изготовления
        span от 14 до 20 дней

  .card-basket__right

    include quantity

    span.card-basket__price 245 600р

  .card-basket__btns

    a.card-basket__link.js-basket-del(href="#") Удалить

    a.card-basket__link(href="#") Переместить в избранное

// end card-basket