// catalog

.catalog

  include card

  include card

  include card-new

  include card

  include card-sale

  include card

  include card

  include card-fav

  include card

  include card

  include card-new

  include card

// end catalog