// catalog-header

.catalog-header

  .catalog-header__img
    picture
      source(srcset="img/webp/img21.webp" type="image/webp")
      img(src="img/img21.jpg" alt="")

  .catalog-header__fext

    p.catalog-header__title Витрины

    .catalog-header__info
      span Идеально для:
      span Гостинной
      span Библиотеки
      span Спальни
      span Кабинета

    .catalog-header__desc
      p Это натуральные материалы, минимальное количество перегородок и мебели, практичные и простые формы, упор на естественное освещение и акценты в виде предметов искусства.

// end catalog-header