// cattabs

.cattabs

  .container

    .cattabs__row

      .cattabs__left

        span.cattabs__label Комнаты:

        .cattabs__menu

          a.cattabs__link.js-tab-link(href="#cat1") Гостинная

          a.cattabs__link.js-tab-link(href="#cat2") Спальня

          a.cattabs__link.js-tab-link(href="#cat3") Кабинет

          a.cattabs__link.js-tab-link(href="#cat4") Гардеробная

          a.cattabs__link.js-tab-link(href="#cat5") Прихожая

          a.cattabs__link.js-tab-link(href="#cat6") Столовая

          a.cattabs__link.js-tab-link(href="#cat7") Детская

          a.cattabs__link.js-tab-link(href="#cat8") Библиотека

      .cattabs__right

        .cattabs__tab.js-tab#cat1

          .cattabs__grid

            include card

            include card-sale

            include card-fav

            include card-new

            include card

            a.cattabs__all(href="#")
              span Посмотреть всё
              span Посмотреть всё

        .cattabs__tab.js-tab#cat2

          .cattabs__grid

            include card

            include card

            include card

            include card

            include card

            a.cattabs__all(href="#")
              span Посмотреть всё
              span Посмотреть всё

        .cattabs__tab.js-tab#cat3

          .cattabs__grid

            include card

            include card

            include card

            include card

            include card

            a.cattabs__all(href="#")
              span Посмотреть всё
              span Посмотреть всё

        .cattabs__tab.js-tab#cat4

          .cattabs__grid

            include card

            include card

            include card

            include card

            include card

            a.cattabs__all(href="#")
              span Посмотреть всё
              span Посмотреть всё

        .cattabs__tab.js-tab#cat5

          .cattabs__grid

            include card

            include card

            include card

            include card

            include card

            a.cattabs__all(href="#")
              span Посмотреть всё
              span Посмотреть всё

        .cattabs__tab.js-tab#cat6

          .cattabs__grid

            include card

            include card

            include card

            include card

            include card

            a.cattabs__all(href="#")
              span Посмотреть всё
              span Посмотреть всё

        .cattabs__tab.js-tab#cat7

          .cattabs__grid

            include card

            include card

            include card

            include card

            include card

            a.cattabs__all(href="#")
              span Посмотреть всё
              span Посмотреть всё

        .cattabs__tab.js-tab#cat8

          .cattabs__grid

            include card

            include card

            include card

            include card

            include card

            a.cattabs__all(href="#")
              span Посмотреть всё
              span Посмотреть всё

// end cattabs