// checkout

.checkout

  a.checkout__back.js-modal-show(href="#js-modal-exit")
    svg: use(href="img/icons/sprite.svg#arrow-back")
    span Назад к корзине

  .checkout__status

    p.checkout__title.checkout__title--red Произошла ошибка оплаты
    p.checkout__text К сожалению, ваш заказ не оплачен, попробуйте снова:

    .checkout__footer

      a.checkout__btn.js-modal-show(href="#")
        span Попробовать снова
        span Попробовать снова

// end checkout