// collections-swiper

.collections-swiper

  .swiper

    .swiper-wrapper

      .swiper-slide

        include coll-slide

      .swiper-slide

        include coll-slide-test

      .swiper-slide

        include coll-slide

      .swiper-slide

        include coll-slide-test-2

      .swiper-slide

        include coll-slide

      .swiper-slide

        include coll-slide-test

      .swiper-slide

        include coll-slide

      .swiper-slide

        include coll-slide-test

  .collections-swiper__nav

    span Коллекция

    include slide-count

    .swiper-prev
      svg: use(href="img/icons/sprite.svg#arrow-left")

    .swiper-next
      svg: use(href="img/icons/sprite.svg#arrow-right")

// end collections-swiper
