// coll-slide

.coll-slide

  .coll-slide__top

    .coll-slide__title <span>Коллекция</span> &laquo;Viennese classics&raquo;

  .coll-slide__bottom

    p.coll-slide__desc Это натуральные материалы, минимальное количество перегородок и мебели, практичные и простые формы, упор на естественное освещение и акценты в виде предметов искусства.

    a.coll-slide__btn(href="#")
      span Вся коллекция (10)
      span Вся коллекция (10)

  .coll-slide__right

    .coll-slide__gallery

      include card

      include card

      include card

      include card

// end coll-slide