// contacts

.contacts

  .contacts__left

    .contacts__item

      p.contacts__title Телефон

      a.contacts__link(href="tel:+79645159041") +7 (964) 515-90-41

      p.contacts__info Call-центр Пн-Пт 9.00-18.00


    .contacts__item

      p.contacts__title Почта

      a.contacts__link(href="mailto:FATTO_help_mail@.com") FATTO_help_mail@.com


    .contacts__item

      p.contacts__title Мы в соц сетях

      include social-contacts

  .contacts__right

    include feedback-form

// end contacts
