// cookies

.cookies

  .container

    .cookies__row

      .cookies__left

        p.cookies__title Наш сайт использует куки

        p.cookies__text Продолжая им пользоваться, вы соглашаетесь на обработку персональных данных в соответствии с <a href="#">политикой конфиденциальности</a>.

      .cookies__right

        a.cookies__btn(href="#")
          span Согласен
          span Согласен

// end cookies