// delivery

.delivery

  .delivery__logo
    picture
      source(srcset="img/webp/img20.webp" type="image/webp")
      img(src="img/img20.jpg" alt="")

  .delivery__name
    p Деловые линии
      span (доставка курьером до двери)

  .delivery__info
    p 4 500р
    p 3-5 дня
      span (после изготовления)

// end delivery