// delpay

.delpay

  .delpay__col

    p.delpay__title Доставка

    .delpay__text

      p Доставка товара осуществляется во все регионы РФ посредством транспортной компании “Деловые Линии”.

      p Стоимость доставки рассчитывается индивидуально на этапе оформления заказа.


  .delpay__col

    p.delpay__title Оплата

    .delpay__text

      p На нашем сайте доступно 3 способа оплаты товара:

      ul
        li Банковской картой на сайте;
        li По счёту для физических и юридических лиц;
        li Наличными в Москвском шоуруме




// end delpay