// designer

.designer

  .designer__left

    p.designer__title Вы дизайнер мебели или интерьера?

    p.designer__subtitle Получите скидку<br> на весь ассортимент


  .designer__right

    include des-form-account

// end designer