// drop-menu

.drop-menu

  a.drop-menu__link(href="#") Гостинная

  a.drop-menu__link(href="#") Спальня

  a.drop-menu__link(href="#") Кабинет

  a.drop-menu__link(href="#") Гардеробная

  a.drop-menu__link(href="#") Прихожая

  a.drop-menu__link(href="#") Столовая

  a.drop-menu__link(href="#") Детская

  a.drop-menu__link(href="#") Библиотека

// end drop-menu