// drop-goods

.drop-goods

  .drop-goods__item

    .drop-goods__img
      picture
        source(srcset="img/webp/img4.webp" type="image/webp")
        img(src="img/img4.jpg" alt="")

    .drop-goods__name
      span Новая коллекция «Snowy»

    a.drop-goods__btn(href="#")
      span Посмотреть
      span Посмотреть


  .drop-goods__item

    .drop-goods__img
      picture
        source(srcset="img/webp/img5.webp" type="image/webp")
        img(src="img/img5.jpg" alt="")

    .drop-goods__name
      span Идеальные письменные столы для вашего кабинета

    a.drop-goods__btn(href="#")
      span Посмотреть
      span Посмотреть


// end drop-goods