// drop-menu

.drop-menu

  a.drop-menu__link(href="#") Шкафы

  a.drop-menu__link(href="#") Витрины

  a.drop-menu__link(href="#") Комоды и тумбы

  a.drop-menu__link(href="#") Прикроватные тумбочки

  a.drop-menu__link(href="#") Консоли и туалетные столики

  a.drop-menu__link(href="#") Обеденные столы

  a.drop-menu__link(href="#") Письменные столы

  a.drop-menu__link(href="#") Столики

  a.drop-menu__link(href="#") Зеркала

// end drop-menu