// drop-menu

.drop-menu

  a.drop-menu__link(href="#") Доставка и оплата

  a.drop-menu__link(href="#") Гарантия

  a.drop-menu__link(href="#") Правила эксплуатации

  a.drop-menu__link(href="#") Вопрос-ответ

// end drop-menu