// drop-menu

.drop-menu

  a.drop-menu__link(href="#") Название коллекции

  a.drop-menu__link(href="#") Название коллекции

  a.drop-menu__link(href="#") Название коллекции

  a.drop-menu__link(href="#") Название коллекции

  a.drop-menu__link(href="#") Название коллекции

  a.drop-menu__link(href="#") Название коллекции

  a.drop-menu__link(href="#") Название коллекции

  a.drop-menu__link(href="#") Название коллекции

  a.drop-menu__link(href="#") Название коллекции

// end drop-menu