// dropdown

.dropdown

  .container

    .dropdown__wrap

      .dropdown__row

        .dropdown__left

          include drop-menu3

        .dropdown__right

          include drop-goods

// end dropdown