// err404

.err404

  .err404__img
    picture
      source(srcset="img/webp/img404.webp" type="image/webp")
      img(src="img/img404.png" alt="")

  p.err404__text Страница не найдена

  a.err404__btn(href="#")
    span На главную
    span На главную

// end err404