// f-delivery

.f-delivery

  .f-delivery__icon
    svg: use(href="img/icons/sprite.svg#truck")

  .f-delivery__desc
    p Доставляем по всей России
    p Доставка мебели осуществляется в сборном виде

// end f-delivery