// f-menu

nav.f-menu

  .container

    .f-menu__grid

      .f-menu__col

        a.f-menu__title(href="#") Мебель

        .f-menu__list

          a.f-menu__link(href="#") Шкафы

          a.f-menu__link(href="#") Витрины

          a.f-menu__link(href="#") Комоды и тумбы

          a.f-menu__link(href="#") Прикроватные тумбочки

          a.f-menu__link(href="#") Консоли и туалетные столики

          a.f-menu__link(href="#") Обеденные столы

          a.f-menu__link(href="#") Письменные столы

          a.f-menu__link(href="#") Столики

          a.f-menu__link(href="#") Зеркала

      .f-menu__col

        a.f-menu__title(href="#") Коллекции

        .f-menu__list

          a.f-menu__link(href="#") Название коллекции

          a.f-menu__link(href="#") Название коллекции

          a.f-menu__link(href="#") Название коллекции

          a.f-menu__link(href="#") Название коллекции

          a.f-menu__link(href="#") Название коллекции

      .f-menu__col

        a.f-menu__title(href="#") Комнаты

        .f-menu__list

          a.f-menu__link(href="#") Спальня

          a.f-menu__link(href="#") Детская

          a.f-menu__link(href="#") Прихожая

          a.f-menu__link(href="#") Гостинная

          a.f-menu__link(href="#") Столовая

          a.f-menu__link(href="#") Кабинет

          a.f-menu__link(href="#") Библиотека

          a.f-menu__link(href="#") Гардеробная

      .f-menu__col

        a.f-menu__title(href="#") Для покупателей

        .f-menu__list

          a.f-menu__link(href="#") Вопрос-ответ

          a.f-menu__link(href="#") Доставка и оплата

          a.f-menu__link(href="#") Гарантии

          a.f-menu__link(href="#") Правила эксплуатации

          a.f-menu__link(href="#") Дизайнерам

      .f-menu__col

        a.f-menu__title(href="#") О компании

        .f-menu__list

          a.f-menu__link(href="#") О нас

          a.f-menu__link(href="#") Контакты

// end f-menu