// f-payment

.f-payment

  .f-payment__item
    img(src="img/icons/visa.svg" alt="")

  .f-payment__item
    img(src="img/icons/mc.svg" alt="")

  .f-payment__item
    img(src="img/icons/mir.svg" alt="")

// end f-payment