// faq

.faq

  .faq__item

    .faq__header

      span Как доставляется мебель?
      svg: use(href="img/icons/sprite.svg#chevron")

    .faq__text
      p Доставка товара осуществляется во все регионы РФ посредством транспортной компании “Деловые Линии”.
      p Стоимость доставки рассчитывается индивидуально на этапе оформления заказа.

  .faq__item

    .faq__header

      span Можно ли вернуть мебель?
      svg: use(href="img/icons/sprite.svg#chevron")

    .faq__text
      p Доставка товара осуществляется во все регионы РФ посредством транспортной компании “Деловые Линии”.
      p Стоимость доставки рассчитывается индивидуально на этапе оформления заказа.

  .faq__item

    .faq__header

      span Курс ценных бумаг так же органично вписывается в наши планы?
      svg: use(href="img/icons/sprite.svg#chevron")

    .faq__text
      p Доставка товара осуществляется во все регионы РФ посредством транспортной компании “Деловые Линии”.
      p Стоимость доставки рассчитывается индивидуально на этапе оформления заказа.

  .faq__item

    .faq__header

      span Как доставляется мебель?
      svg: use(href="img/icons/sprite.svg#chevron")

    .faq__text
      p Доставка товара осуществляется во все регионы РФ посредством транспортной компании “Деловые Линии”.
      p Стоимость доставки рассчитывается индивидуально на этапе оформления заказа.

  .faq__item

    .faq__header

      span Как доставляется мебель?
      svg: use(href="img/icons/sprite.svg#chevron")

    .faq__text
      p Доставка товара осуществляется во все регионы РФ посредством транспортной компании “Деловые Линии”.
      p Стоимость доставки рассчитывается индивидуально на этапе оформления заказа.

  .faq__item

    .faq__header

      span Как доставляется мебель?
      svg: use(href="img/icons/sprite.svg#chevron")

    .faq__text
      p Доставка товара осуществляется во все регионы РФ посредством транспортной компании “Деловые Линии”.
      p Стоимость доставки рассчитывается индивидуально на этапе оформления заказа.



// end faq