// features

.features

  .features__section

    .features__img
      picture
        source(srcset="img/webp/img11.webp" type="image/webp")
        img(src="img/img11.jpg" alt="")

    p.features__title Мы знаем, как важно найти для клиентов что-то надежное, долговечное и подходящее под бюджет

    p.features__text Мы открыты для сотрудничества с дизайнерами и готовы порадовать представителей данной профессии специальными условиями.


  .features__section

    .features__img
      picture
        source(srcset="img/webp/img12.webp" type="image/webp")
        img(src="img/img12.jpg" alt="")

    p.features__title Выгодные условия для дизайнеров

    .features__list

      .features__item
        svg: use(href="img/icons/sprite.svg#sale")
        span Скидка на весь ассортимент

      .features__item
        svg: use(href="img/icons/sprite.svg#cube")
        span 3D модель любой мебели

      .features__item
        svg: use(href="img/icons/sprite.svg#new")
        span Регулярное появление новинок

      .features__item
        svg: use(href="img/icons/sprite.svg#infinity")
        span Актуальные товары

      .features__item
        svg: use(href="img/icons/sprite.svg#star")
        span Лучшее качество фурнитуры

// end features