// filter-results

.filter-results

  .filter-results__item
    span Цена:
    span 12 000 - 13 000р
    a.filter-results__del(href="#")
      svg: use(href="img/icons/sprite.svg#close")

  .filter-results__item
    span Цвет:
    img(src="img/color1.png" alt="")
    img(src="img/color2.png" alt="")
    img(src="img/color3.png" alt="")
    img(src="img/color4.png" alt="")
    a.filter-results__del(href="#")
      svg: use(href="img/icons/sprite.svg#close")

  .filter-results__item
    span Материал:
    span Клен
    span Дуб
    span Стекло
    span +2
    a.filter-results__del(href="#")
      svg: use(href="img/icons/sprite.svg#close")

// end filter-results