// filter-color

.filter-color

  .filter-color__checkbox
    input#color1(type="checkbox" name="" checked)
    label(for="color1")
      span.filter-color__img
        img(src="img/color1.png" alt="")
      | Dark smoke

  .filter-color__checkbox
    input#color2(type="checkbox" name="")
    label(for="color2")
      span.filter-color__img
        img(src="img/color2.png" alt="")
      | Dark smoke

  .filter-color__checkbox
    input#color3(type="checkbox" name="")
    label(for="color3")
      span.filter-color__img
        img(src="img/color3.png" alt="")
      | Dark smoke

  .filter-color__checkbox
    input#color4(type="checkbox" name="")
    label(for="color4")
      span.filter-color__img
        img(src="img/color4.png" alt="")
      | Dark smoke

  .filter-color__checkbox
    input#color5(type="checkbox" name="")
    label(for="color5")
      span.filter-color__img
        img(src="img/color5.png" alt="")
      | Dark smoke

  .filter-color__checkbox
    input#color6(type="checkbox" name="")
    label(for="color6")
      span.filter-color__img
        img(src="img/color6.png" alt="")
      | Dark smoke

// end filter-color