// first-swiper

.first-swiper

  .swiper

    .swiper-wrapper

      .swiper-slide

        include main-slide

      .swiper-slide

        include first-slide

      .swiper-slide

        include first-slide

    .swiper-pagination

// end first-swiper