// furni

.furni

  p.furni__title Мебель Фатто

  p.furni__text Меняем интерьер к лучшему

  .furni__img

    picture

      source(srcset="img/webp/img-company2-sm.webp" media="(max-width:575px)" type="image/webp")
      source(srcset="img/img-company2-sm.jpg" media="(max-width:575px)")

      source(srcset="img/webp/img-company2.webp" type="image/webp")
      img(src="img/img-company2.jpg" alt="")

// end furni