// gallery

.gallery

  .gallery__carousel

    a.gallery__item(href="img/img38.jpg" data-fancybox="gallery")
      img(src="img/img38.jpg" alt="")

    a.gallery__item(href="img/img38.jpg" data-fancybox="gallery")
      img(src="img/img38.jpg" alt="")

    a.gallery__item(href="img/img38.jpg" data-fancybox="gallery")
      img(src="img/img38.jpg" alt="")

    a.gallery__item(href="img/img38.jpg" data-fancybox="gallery")
      img(src="img/img38.jpg" alt="")

    a.gallery__item(href="img/img38.jpg" data-fancybox="gallery")
      img(src="img/img38.jpg" alt="")

    a.gallery__item(href="img/img38.jpg" data-fancybox="gallery")
      img(src="img/img38.jpg" alt="")

    a.gallery__item(href="img/img38.jpg" data-fancybox="gallery")
      img(src="img/img38.jpg" alt="")

  .gallery__thumbs

    .item
      img(src="img/img38.jpg" alt="")

    .item
      img(src="img/img38.jpg" alt="")

    .item
      img(src="img/img38.jpg" alt="")

    .item
      img(src="img/img38.jpg" alt="")

    .item
      img(src="img/img38.jpg" alt="")

    .item
      img(src="img/img38.jpg" alt="")

    .item
      img(src="img/img38.jpg" alt="")

// end gallery