// goods-swiper

.goods-swiper.js-swiper-filter

  .swiper

    .swiper-wrapper

      .swiper-slide.swiper-category1

        include card-new

      .swiper-slide.swiper-category1

        include card-new

      .swiper-slide.swiper-category2

        include card-new

      .swiper-slide.swiper-category3

        include card-new

      .swiper-slide.swiper-category4

        include card-new

      .swiper-slide.swiper-category2

        include card-new

      .swiper-slide.swiper-category3

        include card-new

      .swiper-slide.swiper-category1

        include card-new

      .swiper-slide.swiper-category1

        include card-new

      .swiper-slide.swiper-category1

        include card-new

      .swiper-slide.swiper-category1

        include card-new

      .swiper-slide.swiper-category3

        include card-new

  .swiper-prev
    svg: use(href="img/icons/sprite.svg#arrow-left")

  .swiper-next
    svg: use(href="img/icons/sprite.svg#arrow-right")

  .swiper-scrollbar

// end goods-swiper