// goods-swiper

.goods-swiper.goods-swiper--similar

  .swiper

    .swiper-wrapper

      .swiper-slide

        include card

      .swiper-slide

        include card

      .swiper-slide

        include card-new

      .swiper-slide

        include card-sale

      .swiper-slide

        include card

      .swiper-slide

        include card

      .swiper-slide

        include card-new

      .swiper-slide

        include card-sale

      .swiper-slide

        include card

  .swiper-prev
    svg: use(href="img/icons/sprite.svg#arrow-left")

  .swiper-next
    svg: use(href="img/icons/sprite.svg#arrow-right")

  .swiper-scrollbar

// end goods-swiper