// goods-nav

nav.goods-nav

  span.goods-nav__label Показать:

  .goods-nav__list

    a.goods-nav__link.active(href="#" data-target="swiper-all") Все категории (12)

    a.goods-nav__link(href="#" data-target=".swiper-category1") Письменные столы (6)

    a.goods-nav__link(href="#" data-target=".swiper-category2") Витрины (3)

    a.goods-nav__link(href="#" data-target=".swiper-category3") Обеденные столы (3)

// end goods-nav