// goods-nav

nav.goods-nav

  span.goods-nav__label Показать:

  .goods-nav__list

    a.goods-nav__link.active(href="#" data-target="swiper-all") Всё (12)

    a.goods-nav__link(href="#" data-target=".swiper-category1") Прикроватные тумбочки (6)

    a.goods-nav__link(href="#" data-target=".swiper-category2") Письменные столы (2)

    a.goods-nav__link(href="#" data-target=".swiper-category3") Комоды и тумбы (3)

    a.goods-nav__link(href="#" data-target=".swiper-category4") Столики (1)

// end goods-nav