// looked-swiper

.looked-swiper

  .swiper

    .swiper-wrapper

      .swiper-slide

        a.looked-swiper__item(href="#")
          picture
            source(srcset="img/webp/img1.webp" type="image/webp")
            img(src="img/img1.png" alt="")

      .swiper-slide

        a.looked-swiper__item(href="#")
          picture
            source(srcset="img/webp/img1.webp" type="image/webp")
            img(src="img/img1.png" alt="")

      .swiper-slide

        a.looked-swiper__item(href="#")
          picture
            source(srcset="img/webp/img1.webp" type="image/webp")
            img(src="img/img1.png" alt="")

      .swiper-slide

        a.looked-swiper__item(href="#")
          picture
            source(srcset="img/webp/img1.webp" type="image/webp")
            img(src="img/img1.png" alt="")

      .swiper-slide

        a.looked-swiper__item(href="#")
          picture
            source(srcset="img/webp/img1.webp" type="image/webp")
            img(src="img/img1.png" alt="")

  .swiper-prev
    svg: use(href="img/icons/sprite.svg#arrow-left")

  .swiper-next
    svg: use(href="img/icons/sprite.svg#arrow-right")

// end looked-swiper