// main-slide

.main-slide

  p.main-slide__title Дизайнерская мебель из массива

  include video-player-main

  .main-slide__desc
    p Это натуральные материалы, минимальное количество перегородок и мебели, практичные и простые формы, упор на естественное освещение и акценты в виде предметов искусства.

// end main-slide