// menu

nav.menu

  .menu__item

    a.menu__link(href="#") Мебель

    include dropdown

  .menu__item

    a.menu__link(href="#") Коллекции

    include dropdown2

  .menu__item

    a.menu__link(href="#") Комнаты

    include dropdown3

  .menu__item

    a.menu__link(href="#") Покупателям

    include dropdown4

  .menu__item

    a.menu__link(href="#") Дизайнерам

  .menu__item

    a.menu__link(href="#") О компании

    include dropdown5

// end menu
