// mobile-nav

nav.mobile-nav

  .mobile-nav__item

    a.mobile-nav__link(href="#") Мебель

    .mob-dropdown

      a.mob-dropdown__link(href="#") Шкафы

      a.mob-dropdown__link(href="#") Витрины

      a.mob-dropdown__link(href="#") Комоды и тумбы

      a.mob-dropdown__link(href="#") Прикроватные тумбочки

      a.mob-dropdown__link(href="#") Консоли и туалетные столики

      a.mob-dropdown__link(href="#") Обеденные столы

      a.mob-dropdown__link(href="#") Письменные столы

      a.mob-dropdown__link(href="#") Столики

      a.mob-dropdown__link(href="#") Зеркала

  .mobile-nav__item

    a.mobile-nav__link(href="#") Коллекции

    .mob-dropdown

      a.mob-dropdown__link(href="#") Название коллекции

      a.mob-dropdown__link(href="#") Название коллекции

      a.mob-dropdown__link(href="#") Название коллекции

      a.mob-dropdown__link(href="#") Название коллекции

      a.mob-dropdown__link(href="#") Название коллекции

      a.mob-dropdown__link(href="#") Название коллекции

      a.mob-dropdown__link(href="#") Название коллекции

  .mobile-nav__item

    a.mobile-nav__link(href="#") Комнаты

    .mob-dropdown

      a.mob-dropdown__link(href="#") Гостинная

      a.mob-dropdown__link(href="#") Спальня

      a.mob-dropdown__link(href="#") Кабинет

      a.mob-dropdown__link(href="#") Гардеробная

      a.mob-dropdown__link(href="#") Прихожая

      a.mob-dropdown__link(href="#") Столовая

      a.mob-dropdown__link(href="#") Детская

      a.mob-dropdown__link(href="#") Библиотека

  .mobile-nav__item

    a.mobile-nav__link(href="#") Для пользователей

    .mob-dropdown

      a.mob-dropdown__link(href="#") Доставка и оплата

      a.mob-dropdown__link(href="#") Гарантия

      a.mob-dropdown__link(href="#") Правила эксплуатации

      a.mob-dropdown__link(href="#") Вопрос-ответ

  .mobile-nav__item

    a.mobile-nav__link(href="#") О компании

    .mob-dropdown

      a.mob-dropdown__link(href="#") О компании

      a.mob-dropdown__link(href="#") Контакты

// end mobile-nav