// mobile-menu

.mobile-menu

  .container

    include mobile-nav

    a.mobile-card(href="#")

      .mobile-card__img
        picture
          source(srcset="img/webp/img9.webp" type="image/webp")
          img(src="img/img9.png" alt="")

      .mobile-card__right

        p.mobile-card__name Новая коллекция «Snowy»

        .mobile-card__btn Посмотреть

    a.mobile-card(href="#")

      .mobile-card__img
        picture
          source(srcset="img/webp/img10.webp" type="image/webp")
          img(src="img/img10.png" alt="")

      .mobile-card__right

        p.mobile-card__name Идеальные письменные столы для вашего кабинета

        .mobile-card__btn Посмотреть

// end mobile-menu