// modal-article

.modal-article

  .modal-article__section

    p.modal-article__title Доставка

    p Доставка товара осуществляется во все регионы РФ посредством транспортной компании “Деловые Линии”.

    p Стоимость доставки рассчитывается индивидуально на этапе оформления заказа.

  .modal-article__section

    p.modal-article__title Оплата

    p На нашем сайте доступно 3 способа оплаты товара:

    ul
      li Банковской картой на сайте;
      li По счёту для физических и юридических лиц;
      li Наличными в Москвском шоуруме

  .modal-article__section

    p.modal-article__title Другой заголовок

    p Столярные изделия из массива древесины предназначены для эксплуатации в помещениях с постоянной относительной влажностью 30-50% и температурой воздуха в пределах 15-25 градусов C выше нуля.

    p Изделия из натурального дерева (в дальнейшем «изделие») - это «живой» материал, который реагирует на все изменения окружающей среды. При несоблюдении правил эксплуатации могут возникнуть следующие естественные дефекты: коробление поверхности изделия, растрескивание поверхности, проседание, усыхание ламелей (склеенных частей мебельного щита) относительно друг друга.


// end modal-article