// modal

.modal.js-modal#js-modal-search

  .modal-search

    .container

      a.modal__close.js-modal-close(href="#")
        svg: use(href="img/icons/sprite.svg#close")

      include search

// end modal