// modal

.modal.js-modal#js-modal-filter

  .modal__inner

    a.modal__close.js-modal-close(href="#")
      svg: use(href="img/icons/sprite.svg#close")

    p.modal__title Фильтр

    include filter-modal

// end modal