// modal

.modal.js-modal#js-modal-registr

  .modal__inner

    a.modal__close.js-modal-close(href="#")
      svg: use(href="img/icons/sprite.svg#close")

    .modal__one

      h2.modal__title Регистрация
      p.modal__text Следите за состоянием заказа и сохраняйте избранные товары

      form.form-registration#form-registration(action="")

        .form-registration__email.form-group
          label Почта
          input(type="email" name="#")

        .form-registration__subscribe.form-checkbox
          input#subscribe(type="checkbox" name="#" checked)
          label(for="subscribe") Подписаться на рассылку

        .form-registration__designer.form-checkbox
          input#designer(type="checkbox" name="#")
          label(for="designer") Я дизайнер

        .form-registration__code.form-group
          label Введите код
          input(type="text" name="code" placeholder="– – – –" autocomplete="off")

        p.form-registration__status.form-registration__status--success На электронную почту был отправлен код авторизации
        p.form-registration__resending.form-registration__resending--hidden повторить отправку через #[span.form-registration__resending-counter 3]

        .modal__info После регистрации заполните форму для дизайнеров в вашем личном кабинете

      .modal__buttons

        button.modal__btn#js-request-code(type="button")
          span Выслать код
          span Выслать код

        button.modal__btn.modal__btn--hidden#js-send-code(type="button")
          span Войти
          span Войти

      .modal__footer
        p У вас уже есть личный кабинет?
        a.js-login(href="#js-modal-login") Войти

.modal.js-modal#js-modal-login

  .modal__inner

    a.modal__close.js-modal-close(href="#")
      svg: use(href="img/icons/sprite.svg#close")

    .modal__one

      h2.modal__title Вход в личный кабинет

      form#form-login(action="")

        .form-group
          label Почта
          input(type="email" name="#" autocomplete="off")

      button.modal__btn#js-request-code(type="button")
        span Выслать код
        span Выслать код

      .modal__footer
        p У вас нет личного кабинета?
        a.js-registr(href="#js-modal-registr") Зарегистрироваться

// end modal

