// mydata

.mydata

  .mydata__grid

    .form-group
      label Имя
        sup *
      input(type="text" name="#" placeholder="Иван" required)

    .form-group
      label Фамилия
        sup *
      input(type="text" name="#" placeholder="Иванов" required)

    .form-group
      label Телефон
        sup *
      input.phone(type="text" name="#" placeholder="+7 111 111 11 11" required)

    .form-group
      label Почта
        sup *
      input(type="email" name="#" placeholder="ivanov@mail.ru" required)

// end mydata