// order-info

.order-info

  .order-info__section

    p.order-info__label Личные данные:

    p.order-info__text
      span Петрова Анна Александровна
      span +7 (962) 600-45-32
      span Anna1989Email.com


  .order-info__section

    p.order-info__label Адрес доставки:

    p.order-info__text г. Смоленск, Смоленская область, Россия,<br> ул. Ленина, дом 34, этаж 6, кв 45


  .order-info__section

    p.order-info__label.order-info__label--mb5 Стоимость товаров:

    p.order-info__text 960 000р


    p.order-info__label.order-info__label--mb5 Стоимость доставки:

    p.order-info__text 5 460р


    p.order-info__label.order-info__label--mb5 Способ оплаты:

    p.order-info__text Наличными в шоу-руме компании<br> ТРК "Крокус Сити" ТЦ "Твой дом"<br> 66 км МКАД, м.Мякинино, корпус 2, этаж 1

    p.order-info__text
      span +7 (964) 515-90-41
      span Пн-Вс 11.00-20.00


// end order-info