// order-goods

.order-goods

  p.order-goods__header
    span Товаров: 12
    span Всего: 30 шт

  .order-goods__list

    include order-card

    include order-card

    include order-card

    include order-card

    include order-card

    include order-card

    include order-card

// end order-goods