// order-card

a.order-card(href="#")

  .order-card__img
    picture
      source(srcset="img/webp/img1.webp" type="image/webp")
      img(src="img/img1.png" alt="")

  .order-card__desc

    p.order-card__title Витрина Венеция стеклянная с выдвижными ящиками

    .order-card__info
      span Цвет:
      span Black dream
      span Артикул:
      span A68599944
      span Колличество:
      span 5 шт

// end order-card