// orders

.orders

  a.account-link(href="#")
    svg: use(href="img/icons/sprite.svg#arrow-back")
    span Личный кабинет

  p.orders__title Мои заказы

  .orders__list

    include order1

    include order2

    include order3

    include order4

// end orders