// order-mobile

.order-mobile

  .order-mobile__item
    img(src="img/img1.png" alt="")

  .order-mobile__item
    img(src="img/img1.png" alt="")

  .order-mobile__item
    span +10

  .order-mobile__item
    svg: use(href="img/icons/sprite.svg#chevron")

// end order-mobile