// payment

.payment

  .form-radio
    input#pay1(type="radio" name="payment" checked)
    label(for="pay1") Онлайн-оплата банковской картой

  .form-radio
    input#pay2(type="radio" name="payment")
    label(for="pay2") По счету в банке для физических и юридических лиц

  .form-radio
    input#pay3(type="radio" name="payment")
    label(for="pay3") Наличными в шоу-руме компании в г.Москва
      span ТРК "Крокус Сити" ТЦ "Твой дом",66 км МКАД, м.Мякинино, корпус 2, этаж 1<br> +7 (964) 515-90-41<br> Пн-Вс 11.00-20.00

// end payment