// products

.products

  .swiper

    .swiper-wrapper

      .swiper-slide

        .products__item

          .products__img
            picture
              source(srcset="img/webp/img22.webp" type="image/webp")
              img(src="img/img22.jpg" alt="")

          a.products__btn
            span Комоды и тумбы
            span Комоды и тумбы

      .swiper-slide

        .products__item

          .products__img
            picture
              source(srcset="img/webp/img23.webp" type="image/webp")
              img(src="img/img23.jpg" alt="")

          a.products__btn
            span Прикроватные тубмочки
            span Прикроватные тубмочки

      .swiper-slide

        .products__item

          .products__img
            picture
              source(srcset="img/webp/img24.webp" type="image/webp")
              img(src="img/img24.jpg" alt="")

          a.products__btn
            span Консоли и туалетные столики
            span Консоли и туалетные столики

      .swiper-slide

        .products__item

          .products__img
            picture
              source(srcset="img/webp/img25.webp" type="image/webp")
              img(src="img/img25.jpg" alt="")

          a.products__btn
            span Обеденные столы
            span Обеденные столы

      .swiper-slide

        .products__item

          .products__img
            picture
              source(srcset="img/webp/img26.webp" type="image/webp")
              img(src="img/img26.jpg" alt="")

          a.products__btn
            span Столики
            span Столики

      .swiper-slide

        .products__item

          .products__img
            picture
              source(srcset="img/webp/img24.webp" type="image/webp")
              img(src="img/img24.jpg" alt="")

          a.products__btn
            span Консоли и туалетные столики
            span Консоли и туалетные столики

      .swiper-slide

        .products__item

          .products__img
            picture
              source(srcset="img/webp/img25.webp" type="image/webp")
              img(src="img/img25.jpg" alt="")

          a.products__btn
            span Обеденные столы
            span Обеденные столы


// end products