// prod-info

.prod-info

  .prod-info__col

    .prod-info__item
      span Высота (см)
      span 60

    .prod-info__item
      span Длинна (см)
      span 70

    .prod-info__item
      span Ширина (см)
      span 100

    .prod-info__item
      span Вес брутто (кг)
      span 14

    .prod-info__item
      span Артикул
      span A68599944

  .prod-info__col

    .prod-info__item
      span Материал
      p
        span Каркас - дерево, фанера,
        span Сверху - натуральный шпон,
        span Ручки - серебро

// end prod-info