// prod-color

.prod-color

  .prod-color__item
    input#color1(type="radio" name="color" checked)
    label(for="color1")
      img(src="img/color5.png" alt="")

  .prod-color__item
    input#color2(type="radio" name="color")
    label(for="color2")
      img(src="img/color6.png" alt="")

  span.prod-color__text Цвет - Pink grey

// end prod-color