// prod-desc

.prod-desc

  .prod-desc__text

    p Это натуральные материалы, минимальное количество перегородок и мебели, практичные и простые формы, упор на естественное освещение и акценты в виде предметов искусства. Это натуральные материалы, минимальное количество перегородок и мебели, практичные и простые формы, упор на естественное освещение и акценты в виде предметов искусства.Это натуральные материалы, минимальное количество перегородок и мебели, практичные и простые формы, упор на естественное освещение и акценты в виде предметов искусства. Это натуральные материалы, минимальное количество перегородок и мебели, практичные и простые формы, упор на естественное освещение и акценты в виде предметов искусства.

  a.prod-desc__more(href="#") Читать еще

// end prod-desc