// prod-links

.prod-links

  a.prod-links__item.js-modal-show(href="#js-modal-delpay")
    span О доставке и оплате
    svg: use(href="img/icons/sprite.svg#chevron")

  a.prod-links__item(href="#")
    span О гарантии
    svg: use(href="img/icons/sprite.svg#chevron")

  a.prod-links__item.js-modal-show(href="#js-modal-param")
    span Заказать этот товар с индивидуальными параметрами
    svg: use(href="img/icons/sprite.svg#chevron")

// end prod-links