// prod-btns

.prod-btns

  a.prod-btns__tocart.js-modal-show(href="#js-modal-tocart")
    span Добавить в корзину
    span Добавить в корзину

  a.prod-btns__ask.js-modal-show(href="#js-modal-ask")
    span Задать вопрос по товару
    span Задать вопрос по товару

  a.prod-btns__threed(href="#")
    span Скачать 3D модель
    span Скачать 3D модель


// end prod-btns