// product-gallery

.product-gallery

  a.product-gallery__item(href="img/img30.jpg" data-fancybox="product-gallery")
    picture
      source(srcset="img/webp/img30.webp" type="image/webp")
      img(src="img/img30.jpg" alt="")

  a.product-gallery__item(href="img/img31.jpg" data-fancybox="product-gallery")
    picture
      source(srcset="img/webp/img31.webp" type="image/webp")
      img(src="img/img31.jpg" alt="")

  a.product-gallery__item(href="img/img32.jpg" data-fancybox="product-gallery")
    picture
      source(srcset="img/webp/img32.webp" type="image/webp")
      img(src="img/img32.jpg" alt="")

  a.product-gallery__item.product-gallery__item--half(href="img/img33.jpg" data-fancybox="product-gallery")
    picture
      source(srcset="img/webp/img33.webp" type="image/webp")
      img(src="img/img33.jpg" alt="")

  a.product-gallery__item.product-gallery__item--half(href="img/img34.jpg" data-fancybox="product-gallery")
    picture
      source(srcset="img/webp/img34.webp" type="image/webp")
      img(src="img/img34.jpg" alt="")

// end product-gallery