// quantity

.quantity

  button.quantity__btn.js-minus(type="button")
    svg: use(href="img/icons/sprite.svg#arrow-left")

  input(type="number" name="#" value="1")

  button.quantity__btn.js-plus(type="button")
    svg: use(href="img/icons/sprite.svg#arrow-right")

// end quantity