// search-res

.search-res

  include search

  p.search-res__title Найденно:

  .search-res__nav

    a.search-res__link.active(href="#") Категории (2)

    a.search-res__link(href="#") Товары (22)

    a.search-res__link(href="#") Статьи (2)

  include search-list-cat

// end search-res