// search-list

.search-list

  a.search-item(href="#")

    .search-item__img
      picture
        source(srcset="img/webp/img27.webp" type="image/webp")
        img(src="img/img27.png" alt="")

    .search-item__desc

      p.search-item__breadcrumbs Главная / Прикроватные тумбочки

      p.search-item__title Прикроватные тумбочки

      p.search-item__qnt 24 товара


  a.search-item(href="#")

    .search-item__img
      picture
        source(srcset="img/webp/img28.webp" type="image/webp")
        img(src="img/img28.png" alt="")

    .search-item__desc

      p.search-item__breadcrumbs Главная / Комоды и тумбы

      p.search-item__title Комоды и тумбы

      p.search-item__qnt 40 товаров

// end search-list