// search

.search

  form.search__form(action="")
    input(type="text" name="#" placeholder="Поиск")
    button(type="submit")
      svg: use(href="img/icons/sprite.svg#search")

  .search__dropdown

    .search__item

      p: span Каталог:
        | Прикроватные <i>тумб</i>очки

    .search__item

      p: span Каталог:
        | Комоды и  <i>тумб</i>ы

    .search__item

      p: span Товар:
        | <i>Тумб</i>очка в классическом стиле «Algerd»

    .search__item

      p: span Товар:
        | <i>Тумб</i>очка белая с резными вставками

    .search__item

      p: span Товар:
        | <i>Тумб</i>очка “Anna” в викторианском стиле

// end search