// search-list

.search-list

  a.search-item(href="#")

    .search-item__img
      picture
        source(srcset="img/webp/img29.webp" type="image/webp")
        img(src="img/img29.png" alt="")

    .search-item__desc

      p.search-item__breadcrumbs Главная / Правила эксплуатации

      p.search-item__title.search-item__title--sm Правила эксплуатации столярных изделий

      .search-item__text
        p Качество внешнего вида шкаф визуально оценивается при дневном освещении (без прямого солнечного света) или при равномерном искусственном освещении, идентичному дневному, на расстоянии 50 см под прямым углом к плоскости продукции, без использования увеличительных оптических инструментов, за период времени наблюдения около 10-15 секунд. Претензии на несоответствие габаритных размеров, внешнего вида принимаются до сверления, монтажа и эксплуатации изделий, так как в процессе эксплуатации и влажности в помещении, дерево имеет естественный процесс усушки или роста.


  a.search-item(href="#")

    .search-item__img
      picture
        source(srcset="img/webp/img29.webp" type="image/webp")
        img(src="img/img29.png" alt="")

    .search-item__desc

      p.search-item__breadcrumbs Главная / Правила эксплуатации

      p.search-item__title.search-item__title--sm Правила эксплуатации столярных изделий

      .search-item__text
        p Качество внешнего вида шкаф визуально оценивается при дневном освещении (без прямого солнечного света) или при равномерном искусственном освещении, идентичному дневному, на расстоянии 50 см под прямым углом к плоскости продукции, без использования увеличительных оптических инструментов, за период времени наблюдения около 10-15 секунд. Претензии на несоответствие габаритных размеров, внешнего вида принимаются до сверления, монтажа и эксплуатации изделий, так как в процессе эксплуатации и влажности в помещении, дерево имеет естественный процесс усушки или роста.

// end search-list