// share

.share

  span.share__label Поделиться:

  .share__list

    a.share__item(href="#")
      svg: use(href="img/icons/sprite.svg#pin")

    a.share__item(href="#")
      svg: use(href="img/icons/sprite.svg#tg")

    a.share__item(href="#")
      svg: use(href="img/icons/sprite.svg#vk")

// end share