// social

.social

  span.social__label Мы в соц сетях

  .social__nav

    a.social__link(href="#")
      img(src="img/icons/vk.svg" alt="")

    a.social__link(href="#")
      img(src="img/icons/tg.svg" alt="")

    a.social__link(href="#")
      img(src="img/icons/pinterest.svg" alt="")

    a.social__link(href="#")
      img(src="img/icons/youtube.svg" alt="")

// end social