// sort

.sort

  span.sort__label Сортировать по

  .sort__list

    .sort__item.current
      a(href="#") Популярности

    .sort__item
      a(href="#") Новизне

    .sort__item
      a(href="#") Цвету

    .sort__item
      a(href="#") Названию

// end sort