// steps

.steps

  .container

    .steps__grid

      .steps__item

        span.steps__num 1

        p.steps__desc <span>Добавляем</span> понравившиеся товары в корзину

      .steps__item

        span.steps__num 2

        p.steps__desc <span>Оформляем</span>  и оплачиваем заказ

      .steps__item

        span.steps__num 3

        p.steps__desc <span>Изготовление</span> и доставка заказа

// end steps