      nav.tabs-nav

        a.tabs-nav__item(href="#tab1") Описание

        a.tabs-nav__item(href="#tab2") Видео

        a.tabs-nav__item(href="#tab3") Скачать

        a.tabs-nav__item(href="#tab4") Сертификаты