// tocart-popup

.tocart-popup

  .tocart-popup__text
    p Витрина Венеция стеклянная с выдвижными ящиками
    p 35 600р

  a.tocart-popup__btn.js-modal-show(href="#js-modal-tocart") Добавить в корзину

// end tocart-popup