// topbar

.topbar

  a.topbar__item.js-modal-show(href="#js-modal-registr")
    svg: use(href="img/icons/sprite.svg#person")


  a.topbar__item(href="#")
    svg: use(href="img/icons/sprite.svg#heart")
    span 12

  a.topbar__item(href="#")
    svg: use(href="img/icons/sprite.svg#cart")
    span 12

// end topbar