// users

.users

  .users__text

    h2.users__title Правила эксплуатации изделий<br> из натурального дерева и шпона

    p Столярные изделия из массива древесины предназначены для эксплуатации в помещениях с постоянной относительной влажностью 30-50% и температурой воздуха в пределах 15-25 градусов C выше нуля.

    p Изделия из натурального дерева (в дальнейшем «изделие») - это «живой» материал, который реагирует на все изменения окружающей среды. При несоблюдении правил эксплуатации могут возникнуть следующие естественные дефекты: коробление поверхности изделия, растрескивание поверхности, проседание, усыхание ламелей (склеенных частей мебельного щита) относительно друг друга.


    h3.users__subtitle Основные правила эксплуатации

    ul
      li Влажность воздуха в помещении, где располагается изделие, должна соответствовать 45-60% при температуре 18-250 С.
      li Необходимо избегать прямого попадания солнечных лучей.
      li Изделие следует устанавливать не менее 1 метра от отопительных приборов (радиаторы отопления, электрообогреватели и т.д.).
      li Чистить и ухаживать средствами, которые содержат воск. Не использовать абразивные средства, а также средства, имеющие спиртовые добавки или растворители.
      li Не ставить на поверхность изделия горячие предметы без теплоизоляционной прокладки.
      li Вытирать пыль нужно только мягкой тканью - фланелью, бархатом, замшей.
      li Для предотвращения растрескивания изделий рекомендуется все монтажные отверстия предварительно засверливать и только после этого производить монтаж изделия.
      li Монтаж и установку изделий можно производить только после того, как температура изделия сравняется с температурой окружающей среды.

    p Если доставка изделий из натурального дерева проводилась в условиях отрицательной температуры, в помещении необходимо сразу протереть ее чистой сухой мягкой тканью как снаружи, так и внутри для удаления образовавшегося конденсата.

    h3.users__subtitle Прием продукции

    p Качество внешнего вида мебельного фасада визуально оценивается при дневном освещении (без прямого солнечного света) или при равномерном искусственном освещении, идентичному дневному, на расстоянии 50 см под прямым углом к плоскости продукции, без использования увеличительных оптических инструментов, за период времени наблюдения около 10-15 секунд.

    p Претензии на несоответствие габаритных размеров, внешнего вида принимаются до сверления, монтажа и эксплуатации изделий, так как в процессе эксплуатации и влажности в помещении, дерево имеет естественный процесс усушки или роста.

// end users