// users

.users

  .users__text

    h2.users__title Условия гарантии

    p Мы несём ответственность по гарантийным обязательствам при условии соблюдения клиентом «Инструкции по эксплуатации и уходу﻿».
    p В случае отказа покупателя от услуг доставки и сборки, Фатто не несёт ответственности за недостатки и повреждения товара, которые могут возникнуть вследствие самостоятельной транспортировки или самостоятельной сборки.
    p Если гарантийный случай подтверждается, товар будет заменён таким же или аналогичным.
    p Если товар вышел из ассортимента бренда, мы предложим подходящую замену или возместим стоимость неисправного товара.

    h3.users__subtitle Гарантия 18 месяцев.

    p В гарантийные обязательства входит устранение недостатков на фасадах, возникших по вине производителя, а также замена фасадов с выявленным производственным браком.

    h3.users__subtitle Гарантия не распространяется на неисправности и дефекты, вызванные следующими причинами:

    ul
      li Наличие механических повреждений, возникших вследствие погрузочно-разгрузочных работ, транспортировки, хранения, монтажа.
      li Наличие на поверхностях фасадов механических повреждений, термовоздействий или следов воздействия химических веществ, попадания большого объема жидкости на изделие.
      li При механических и других повреждениях, возникших вследствие естественного износа изделия.
      li В случаях порчи изделия под воздействием непреодолимой силы (пожар, затопление и др. стихийные бедствия).
      li При преднамеренной порчи изделия.
      li Если фасады подвергались распиловке и фрезеровке лицевой поверхности.
      li При нарушении правил эксплуатации, а именно не соблюдение параметров температурного режима и влажности воздуха в помещении.


// end users